////////////////////
/*Globals*/
* {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

main,
header {
  font-family: "Roboto Mono", monospace;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  padding-top: 3rem;
}

h1 {
  font-family: "MuseoModerno", cursive;
  font-weight: 900;
}

/*
 * Header
 */
.masthead {
  margin: 2rem 3rem;
}

.nav-masthead .nav-link {
  padding: 0.5rem;
  font-weight: 700;
  color: #5a5a5a;
  background-color: transparent;
}

#contact-nav {
  margin-left: 1rem;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.masthead-brand {
  float: left;
}

.nav-masthead {
  float: right;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  padding: 150px;
  margin: 100px 0;
}

.logo {
  font-size: 5vw;
  text-shadow: 3px 3px #ffffff;
  z-index: 1;
}

#logo-b {
  position: relative;
  right: 1vw;
  transform: rotate(20deg);
}

.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

.skill-icons {
  position: relative;
  top: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.fa-chevron-down {
  position: relative;
  top: 150px;
}


/* Projects */
.card-group {
  padding-top: 100px;
  justify-content: center;
}
.card {
  width: 30vw;
  margin: 10px;
}
.card-body {
  color: black;
}
.card:hover {
  box-shadow: 0 0 5px rgba(33, 33, 33, 0.5);
  transform: scale(1.01);
  transition: all 0.1s ease-in-out;
  z-index: 2;
}

/*
 * Footer
 */
.mastfoot {
  height: 10vh;
  padding: 10% 10%;
}

.inner a {
  padding: 20px;
}

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (max-width: 40em) {
  /*
 * Header
 */

  .cover {
    padding: 1rem 0;
  }

  .logo {
    font-size: 10vw;
    text-shadow: 3px 3px #ffffff;
  }

  #home-btn {
    visibility: hidden;
  }

  .skill-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
  }

  .skill-icons a {
    padding: 0;
    position: relative;
    bottom: 100px;
  }

  .fa-chevron-down {
    position: relative;
    top: 100px;
  }

  /* cards */

  .card-group {
    padding-top: 150px;
    justify-content: center;
  }
  
  .card {
    width: auto;
    margin: 10px;
  }

  /*
 * Footer
 */
  .footer {
    padding: 0;
  }

  .footer a {
    white-space: nowrap;
    padding: 10px;
  }
}

